extends layout.pug 

block content
    h1 Books
    form(action=`/search/page/1` method='get') 
        input(name='search' type='text' placeholder="search book")
        input#search(type='submit' value='Search')
    p
        a.button(href='/books/new') Create New Book
    table
        thead
            tr
            th Title
            th Author
            th Genre
            th Year
        tbody
            -   for (var j=(page-1)*10;j<(page*10);j++)
                if j+1>books.length
                    -break 
                else  
                    tr
                        td
                            a(href=`/books/${books[j].id}`)=books[j].title
                        td=books[j].author
                        td=books[j].genre
                        td=books[j].year
    if  query
        -   for (var i=0;i<numberOfPages;i++)
            a(href=`/search/page/${i+1}?search=${query}` id="pageButton" style=`position: absolute;bottom: 150px;left: ${50+i*20}px;`)=i+1
        a(href=`/` id="HomeButton") Show all books

    else
        -   for (var i=0;i<numberOfPages;i++)
            a(href=`/books/page/${i+1}` id="pageButton" style=`position: absolute;bottom: 150px;left: ${50+i*40}px;`)=i+1
      
    
            
